#gray-themes-for-box {
    background-color: rgb(50, 52, 67);
    margin-bottom: 10px;
}

#btn-look {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    margin-right: 5px;
    width: 100%;
    height: 20%;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    border-color: rgb(50, 52, 67);
    font-size: 10px
}

#btn-look:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#light-text {
    color: #fff;
    font-size: 14px;
}

#position-left {
    float: left;
}

.light-small-text {
    color: #fff !important;
    font-size: 10px;
    text-align: left;
    line-height: normal;
}