
.module-border-wrap {
    border: 5px solid;
    border-image: repeating-linear-gradient(to left, #743ad5, #d53a9d) 1;
    

  }
  .module {
    background: #222;
    color: white;
    padding: 2rem;
  }
  #my-chart.column {
    height: 200px;
    max-width: 300px;
  }
  #my-label {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
  }
  .vh {
    height: 100vh;
  }
.center-block {
    margin-bottom: 50%;  
}