input:focus {
    box-shadow: 1px 1px 2px 0 red;
  }

  #btn-search {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    width: 100%;
    height:2.25em;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    
    border-radius: 10px;
    
}

#btn-search:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

input {
    border-radius: 7px !important;
    height: 50px !important;
    border-color: #DA22FF !important;

}

input:focus {
    border-radius: 7px;
    border-color: #DA22FF !important;
}
input:active {
    border-radius: 7px;
    border-color: #DA22FF !important;
    
}