<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Страница авторизации</title>
    <link
      rel="stylesheet"
      href="../static/frameworks/fontawesome/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/bulma.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <body>
    <div class="container-max-width">
      <div class="notification is-primary">
        <div class="columns">
          <div
            class="column is-one-quarter"
            style="background-color: rgb(26, 26, 26)"
          >
            <h3 class="title is-3">Гермес</h3>
            <aside class="menu">
              <ul class="menu-list">
                <li><a class="is-active">Моя доска</a></li>
                <li><a>Поиск</a></li>
                <li><a>Добавить материал</a></li>
                <li><a>Задачи</a></li>
                <li><a>Предметы</a></li>
              </ul>
            </aside>
          </div>
          <div class="column" style="background-color: rgb(50, 52, 67)">
            <h3 class="title is-3"></h3>
            <h3 class="title is-3 is-center">Рабочая доска</h3>
            
            
            <div class="box">
              <h5 class="title is-5">Хочешь гуглить как боженька?</h5>
              <div class="columns">
                <div class="column is-three-quarters">
                  <p>
                    Открываем Google, пишем то, что нужно найти в специальную
                    строку и жмем Enter. «Все просто, чему вы меня учить
                    собрались», — думаете вы. Ага, не тут-то было, друзья.
                  </p>
                </div>
                <div class="column">
                  <div class="buttons">
                    <a class="button" id="btn-learn" href="login.html">
                      <strong>Пройти обучение</strong>
                    </a> 
                  </div>
                </div>
              </div>
            </div>
            
            <div class="box">
                <div class="columns">
                    <div class="column is-three-fifths">
                        <table class="charts-css column hide-data show-labels show-heading" id="my-chart">
                            <h5 class="title is-5">Статистика за семестр</h5>
                            <thead>
                              <tr>
                                <th scope="col"> Month </th>
                                <th scope="col"> Progress </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row"> Jan </th>
                                <td style="--size: 0.3;"> <span class="data"> 30 </span> </td>
                              </tr>
                              <tr>
                                <th scope="row"> Feb </th>
                                <td style="--size: 0.5;"> <span class="data"> 50 </span> </td>
                              </tr>
                              <tr>
                                <th scope="row"> Mar </th>
                                <td style="--size: 0.8;"> <span class="data"> 80 </span> </td>
                              </tr>
                              <tr>
                                <th scope="row"> Apr </th>
                                <td style="--size: 1;"> <span class="data"> 100 </span> </td>
                              </tr>
                              <tr>
                                <th scope="row"> May </th>
                                <td style="--size: 0.65;"> <span class="data"> 65 </span> </td>
                              </tr>
                              <tr>
                                <th scope="row"> Jun </th>
                                <td style="--size: 0.45;"> <span class="data"> 45 </span> </td>
                              </tr>
                              <tr>
                                <th scope="row"> Jul </th>
                                <td style="--size: 0.15;"> <span class="data"> 15 </span> </td>
                              </tr>
                              <tr>
                                <th scope="row"> Aug </th>
                                <td style="--size: 0.32;"> <span class="data"> 32 </span> </td>
                              </tr>
                              
                            </tbody>
                          
                          </table>
                    </div>
                    <div class="column">
                      
                    </div>
                  </div>
            </div>
          
        
        
        
        
        
        </div>
          <div
            class="column is-one-quarter"
            style="background-color: rgb(26, 26, 26)"
          >
            Man
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
