<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>DOMINIC TORETTO</title>
    <link
      rel="stylesheet"
      href="../static/frameworks/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/charts.css/dist/charts.min.css"
    />
    <link rel="stylesheet" href="../static/css/bulma.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="stylesheet" href="../static/css/diagram.css" />
    <link rel="stylesheet" href="../static/css/document.css" />
    <link rel="stylesheet" href="../static/css/tasks.css" />
    <link rel="stylesheet" href="../static/css/main_css_for_home.css"/>
    <link rel="stylesheet" href="../static/css/menu.css" />
  </head>
  <body>    
      <div class="notification is-primary is-fullheight" id="black-theme">
        <div class="columns">
          <!-- Block Menu  [Start]-->
          <div
            class="column is-one-fifth"
            id="black-theme"
          >
            <h3 class="title is-3" id="hermes"><img style= "margin-right: 25px;" src="../static/images/graph.png">ГЕРМЕС</h3>
            <aside class="menu">
              <ul class="menu-list">
                <li>
                      <a id="without-decor" href="home.html"> <img style= "margin-right: 10px;" src="../static/images/menu.png">Моя доска</a>
                </li>
                <li><a id="without-decor" href="search.html"><img style= "margin-right: 10px;" src="../static/images/search.png">Поиск</a></li>
                <li><a id="without-decor"><img style= "margin-right: 10px;" src="../static/images/add.png">Добавить материал</a></li>
                <li><a id="without-decor"><img style= "margin-right: 10px;" src="../static/images/tasks.png">Задачи</a></li>
                <li><a id="without-decor"><img style= "margin-right: 10px;" src="../static/images/menu.png">Предметы</a></li>
              </ul>
            </aside>
          </div>
          <!-- Block Menu  [End]-->

          <!-- Block Work table  [Start]-->
          <div class="column" style="background-color: rgb(50, 52, 67); padding-left: 40px; padding-right: 40px;">

            <h3 class="title is-3 is-center" style="margin-top: 7%;">Рабочая доска</h3>

            <div class="box">
              <h5 class="title is-5">Хочешь гуглить как боженька?</h5>
              <div class="columns">
                <div class="column is-three-quarters">
                  <p>
                    Открываем Google, пишем то, что нужно найти в специальную
                    строку и жмем Enter. «Все просто, чему вы меня учить
                    собрались», — думаете вы. Ага, не тут-то было, друзья.
                  </p>
                </div>
                <div class="column">
                  <div class="buttons">
                    <a class="button" id="btn-learn" href="login.html">
                      <strong>Пройти обучение</strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Block with statisics [Start]-->
            <div class="box">
              <h5 class="title is-5">Статистика за семестр</h5>
              <div class="columns">
                <!-- Block with Bar [Start]-->
                <div class="column is-two-fifths">
                  <div id="chart-container-1"></div>
                </div>
                <!-- Block with Bar [End]-->

                <!-- Block with Diagram [Start]-->
                <div class="column">
                  <div id="chart-container-2"></div>
                </div>
                <!-- Block with Diagram [End] -->
              </div>
            </div>
            <!-- Block with statisics [End]-->

            <!-- Block document [Start]-->
            <div class="box">
              <div class="columns">
                <!-- Last Left  Block  [Start]-->
                <div class="column is-half">
                  <h5 class="title is-5">Мои документы</h5>
                  <!-- Block theme  [Start]-->
                  <div
                    class="box"
                    id="gray-themes-for-box"
                    style="display: inline-block; width: 100%"
                  >
                    <div class="columns">
                      <div class="column">
                        <span class="icon is-small">
                          <i
                            class="fas fa-book"
                            id="light-text"
                            aria-hidden="true"
                          ></i>
                        </span>
                      </div>
                      <div class="is-three-quarters" id="position-left">
                        <strong id="light-text">
                          Как писать красивый код?</strong
                        >
                        <p class="subtitle light-small-text">10 просмотров</p>
                      </div>
                      <div class="column">
                        <div class="buttons">
                          <a class="button" id="btn-look" href="login.html">
                            <strong style="font-size: 12px">Просмотр</strong>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Block theme  [End]-->

                  <!-- Block theme  [Start]-->
                  <div class="box" id="gray-themes-for-box">
                    <div class="columns">
                      <div class="column">
                        <span class="icon is-small">
                          <i
                            class="fas fa-book"
                            id="light-text"
                            aria-hidden="true"
                          ></i>
                        </span>
                      </div>
                      <div class="is-three-quarters" id="position-left">
                        <strong id="light-text"
                          >Я хуй его знает, честно ...</strong
                        >
                        <p class="subtitle light-small-text">8 просмотров</p>
                      </div>
                      <div class="column">
                        <div class="buttons">
                          <a class="button" id="btn-look" href="login.html">
                            <strong style="font-size: 12px">Просмотр</strong>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Block theme  [End]-->
                </div>
                <!-- Last Left Block  [End]-->

                <!-- Last Right Block  [Start]-->
                <div class="column is-half">
                  <h5 class="title is-5">Мои задачи</h5>
                  <div class="columns">
                    <div class="column">
                      <!-- Task block [Start]-->
                      <div class="box" id="gray-themes-for-box">
                        <div class="box" id="black-themes-for-box">
                          <div style="display: inline-block">
                            <div class="columns">
                              <div class="column is-one-fifth">
                                <span class="icon" style="display: block">
                                  <i
                                    class="fas fa-arrow-right"
                                    id="light-text"
                                  ></i>
                                </span>
                              </div>
                              <div
                                class="column is-four-fifths"
                                id="light-text"
                              >
                                <p>Сделать верстку</p>
                              </div>
                              <div class="column">
                                <progress
                                  class="progress is-warning"
                                  value="30"
                                  max="100"
                                  style="width: 70px"
                                ></progress>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Task block [End]-->
                      <!-- Task block [Start]-->
                      <div class="box" id="gray-themes-for-box">
                        <div class="box" id="black-themes-for-box">
                          <div style="display: inline-block">
                            <div class="columns">
                              <div class="column is-one-fifth">
                                <span class="icon" style="display: block">
                                  <i
                                    class="fas fa-arrow-right"
                                    id="light-text"
                                  ></i>
                                </span>
                              </div>
                              <div
                                class="column is-four-fifths"
                                id="light-text"
                              >
                                <p>Сделать верстку</p>
                              </div>
                              <div class="column">
                                <progress
                                  class="progress is-danger"
                                  value="50"
                                  max="100"
                                  style="width: 70px"
                                ></progress>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Task block [End]-->
                    </div>
                  </div>
                </div>
                <!-- Last Right Block  [End]-->
              </div>
            </div>
            <!-- Block document [End]-->
          </div>
          <!-- Block Work table [End]-->

          <!-- Block  News [START] -->
          <div
            class="column is-one-quarter"
            style="background-color: rgb(26, 26, 26)"
          >
            
            <div style="margin-left: 50px">
              <!-- Block with images for news [Start]-->
              <div class="columns is-vcentered">
                <div class="column is-one-fifth"></div>
                <div class="column is-one-fifth">
                  <figure class="image is-32x32">
                    <a href="">
                      <img src="../static/images/notification.png"
                    /></a>
                  </figure>
                </div>
                <div class="column is-one-fifth">
                  <figure class="image is-32x32">
                    <a href=""> <img src="../static/images/settings.png" /></a>
                  </figure>
                </div>
                <div class="column">
                  <h3 class="title is-3"></h3>
                  <figure class="image is-96x96">
                    <a href=""> <img src="../static/images/user.png" /></a>
                  </figure>
                </div>
              </div>
              <!-- Block with images for news [End]-->

              <h4 class="title is-4">События</h4>

              <!-- Block with notification [Start]-->
              <div class="columns">
                <div class="column">
                  <div class="box" id="gray-themes-for-box">
                    <div class="columns is-vcentered">
                      <div class="column is-one-fifth">
                        <div class="media-left">
                          <figure class="image is-32x32">
                            <a href="">
                              <img src="../static/images/notification.png"
                            /></a>
                          </figure>
                        </div>
                      </div>

                      <div class="column">
                        <div class="content">
                          <p class="title is-6" style="color: aliceblue; margin-bottom: 0px;">
                            Task 1
                          </p>
                          <p  id="light-small-text">
                            <time style="color: aliceblue; font-size: 14px; margin-top: 0px;"   datetime="2016-1-1">
                              11:09 PM - 1 Jan 2016
                              </time>
                          </p>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
              </div>
              <!-- Block with notification [End]-->
              <!-- Block with notification [Start]-->
              <div class="columns">
                
                <div class="column">
                  <div class="box" id="gray-themes-for-box">
                    <div class="columns is-vcentered">
                      <div class="column is-one-fifth">
                        <div class="media-left">
                          <figure class="image is-32x32">
                            <a href="">
                              <img src="../static/images/notification.png"
                            /></a>
                          </figure>
                        </div>
                      </div>

                      <div class="column">
                        <div class="content">
                          <p class="title is-6" style="color: aliceblue; margin-bottom: 0px;">
                            Task 1
                          </p>
                          <p  id="light-small-text">
                            <time style="color: aliceblue; font-size: 14px; margin-top: 0px;"   datetime="2016-1-1">
                              11:09 PM - 1 Jan 2016
                              </time>
                          </p>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
              </div>
              <!-- Block with notification [End]-->
            </div>
          </div>
          <!-- Block News [End] -->
        </div>
      </div>
 
    <script src="https://fastly.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
    <script>
      var dom = document.getElementById("chart-container-2");
      var myChart = echarts.init(dom, {
        renderer: "canvas",
        useDirtyRect: false,
      });
      var app = {};

      var option;

      option = {
        tooltip: {
          trigger: "item",
        },
        legend: {
          top: "5%",
          left: "center",
        },
        series: [
          {
            name: "Access From",
            type: "pie",
            radius: ["40%", "70%"],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: "center",
            },
            emphasis: {
              label: {
                show: true,
                fontSize: 20,
                fontWeight: "bold",
              },
            },
            labelLine: {
              show: false,
            },
            data: [
              { value: 1048, name: "HTML" },
              { value: 735, name: "Python" },
              { value: 580, name: "NodeJS" },
              { value: 484, name: "React" },
              { value: 300, name: "Vue" },
            ],
          },
        ],
      };

      if (option && typeof option === "object") {
        myChart.setOption(option);
      }

      window.addEventListener("resize", myChart.resize);
    </script>
    <script>
      var dom = document.getElementById("chart-container-1");
      var myChart = echarts.init(dom, null, {
        renderer: "canvas",
        useDirtyRect: false,
      });
      var app = {};

      var option;

      option = {
        xAxis: {
          data: ["2020", "2021", "2022"],
        },
        yAxis: {},
        dataGroupId: "",
        animationDurationUpdate: 500,
        series: {
          type: "bar",
          id: "sales",
          data: [
            {
              value: 3,
              groupId: "2020",
            },
            {
              value: 2,
              groupId: "2021",
            },
            {
              value: 4,
              groupId: "2022",
            },
          ],
          universalTransition: {
            enabled: true,
            divideShape: "clone",
          },
        },
      };
      const drilldownData = [
        {
          dataGroupId: "2020",
          data: [
            ["Python", 4],
            ["Django", 2],
            ["Flask", 1],
          ],
        },
        {
          dataGroupId: "2021",
          data: [
            ["NoSQL", 4],
            ["Oracle", 2],
          ],
        },
        {
          dataGroupId: "2022",
          data: [
            ["VPN", 4],
            ["OpenVPN", 2],
            ["C#", 2],
          ],
        },
      ];
      myChart.on("click", function (event) {
        if (event.data) {
          var subData = drilldownData.find(function (data) {
            return data.dataGroupId === event.data.groupId;
          });
          if (!subData) {
            return;
          }
          myChart.setOption({
            xAxis: {
              data: subData.data.map(function (item) {
                return item[0];
              }),
            },
            series: {
              type: "bar",
              id: "sales",
              dataGroupId: subData.dataGroupId,
              data: subData.data.map(function (item) {
                return item[1];
              }),
              universalTransition: {
                enabled: true,
                divideShape: "clone",
              },
            },
            graphic: [
              {
                type: "text",
                left: 50,
                top: 20,
                style: {
                  text: "Back",
                  fontSize: 18,
                },
                onclick: function () {
                  myChart.setOption(option);
                },
              },
            ],
          });
        }
      });

      if (option && typeof option === "object") {
        myChart.setOption(option);
      }

      window.addEventListener("resize", myChart.resize);
    </script>
  </body>
</html>
