<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>

    <link
      rel="stylesheet"
      href="../package/bulma/node_modules/bulma/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../static/css/gradient.css">
  </head>
  <body>
    <div class="container-max-width">
      <div class="notification is-primary vh" styles="height: 100%;">
        <div class="columns">
          <div
            class="column is-one-quarter vh"
            style="background-color: rgb(26, 26, 26)"
          >
            <h3 class="title is-3">Гермес</h3>
          </div>

          <div class="column vh" style="background-color: rgb(50, 52, 67)">
            <h3 class="title is-3"></h3>
            <h3 class="title is-3">Авторизируйся</h3>
            <form class="box center-block">
              <div class="field">
                <label class="label">Логин</label>
                <div class="control">
                  <input
                    class="input"
                    type="email"
                    placeholder="e.g. alex@example.com"
                  />
                </div>
              </div>

              <div class="field">
                <label class="label">Пароль</label>
                <div class="control">
                  <input class="input" type="password" placeholder="********" />
                </div>
              </div>

              <button class="button is-primary">Войти</button>
            </form>
          </div>
          <div
            class="column is-one-quarter vh"
            style="background-color: rgb(26, 26, 26)"
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
