<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Страница авторизации</title>
  <link rel="stylesheet" href="../static/frameworks/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../static/css/bulma.css">
  <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">

            <!--Form [START]-->
            <form action="" class="box">
              <section class="hero">
                <div class="hero-body">
                  <p class="title">
                    Authorize
                  </p>
              </section>
              <!--Login field [START]-->
              <div class="field">
                <div class="control has-icons-left">
                  <input type="login" placeholder="Press login" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
              </div>
              <!--Login field [END]-->

              <!--Password field [START]-->
              <div class="field">
                <div class="control has-icons-left">
                  <input type="password" placeholder="Qwerty100" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <!--Password field [END]-->

              <!--Checkbox [START]-->
              <div class="field">
                <label for="" class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>
              <!--Checkbox [END]-->

              <!--Button Login [START]-->
              <div class="field">
                <button class="button is-dark" id="btn-login">
                  Login
                </button>
              </div>
              <!--Button Login [END]-->

            </form>
            <!--Form [END]-->
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>